<h1>Dashboard Page</h1>
<h2>My Offer</h2>
  <% current_user.events.each do |event|  %>
  <%= event.sport %>
  <%= event.date %>
  <%= event.duration %>
  <%= link_to '', edit_event_path(event.id), class: "fas fa-edit" %>

  <br>
  <% end %>

<h2>My Booking</h2>
<% current_user.bookings.each do |booking| %>
  <%= booking.event.sport %>
  <%= booking.event.date %>
  <%= booking.event.duration %>
  <%= booking.event.level %>
  <%= booking.event.user.first_name%>
  <%= link_to '', booking_path(booking.id), method: :delete, class:"fa-solid fa-trash-can", data: {confirm: "Are you sure to cancel?"} %>
  <br>
<% end %>
