<div class="container">
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span>
          <%= message.user.first_name %>
        </span>
        <small>
          <%= message.created_at.strftime("%a %b %e at %l:%M%p") %>
        </small>
      </i>
      <p>
        <%= message.content %>
      </p>
    </div>
    <% end %>
</div>

<%= simple_form_for [ @chatroom, @message ] do |f| %>
  <%= f.input :content, label: false %>
  <%= f.button :submit, "Send", class:'btn btn-primary' %>
<% end %>
</div>

<div class="container">
  <%= simple_form_for(@chatroom) do |f| %>
    <div class="form-body">
    <%= f.input :recepient, prompt: :translate,
      input_html: { class: "styling" },
      prompt: " Select user ",
      collection: User.all
    %>

  </div>

    <div class="btn-inline">
      <%= f.button :submit, "Create new conversation", class:'btn btn-primary' %>
    </div>
  <% end %>
</div>
