 <div class="dashboard-item" id="booking-<%= booking.id %>">
    <% request_user = User.find(booking.user_id) %>
    <div class="item-description">
      <div>
        <%  if request_user.photo.key.nil? %>
          <%= image_tag "default_profil.png", crop: :fill,  class: "event-img-vertical-s" %>
        <% else  %>
          <%= cl_image_tag request_user.photo.key, crop: :fill,  class: "event-img-vertical-s" %>
        <% end  %>
      </div>

      <div class="flex-group">
        <div>
          <div><h5><%= booking.event.event_name %></h5></div>
          <div><span><%= booking.event.sport %></span></div>

          <p> Booking request from <%= request_user.first_name %> </p>
        </div>
        <div>
          <%= link_to "Accept", booking_path(booking, booking: {status: true}), method: :patch, class:'btn btn-primary' %>
        </div >
      </div>

    </div>

</div>
