
 <% emojis = ["&#128521"," &#128579","&#128587","&#128131","&#128170"] %>
    <% emoji = emojis.sample %>
    <div id="carousel-title">
    <h5 style="text-align:center"><strong> Check out other <%= @event.sport %> events &#128521&#128071</strong>
    </h5>
    </div>
<div class="carousel-container">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <% @events.each_slice(5).with_index do |eventcards, index| %>

      <div class="carousel-item <%= 'active' if index == 0 %> ">
      <div class="cards-wrapper">
        <% eventcards.each do |event| %>
            <% unless event.id == params[:id].to_i %>
            <%= link_to event_path(event.id), class:"event_link" do %>
            <div class="carousel-card d-none d-md-block">
              <% if event.photo.key.nil?  %>
              <%=  image_tag "placeholder-image.png", class:"card-img-top" %>
              <% else  %>
              <%=  cl_image_tag event.photo.key, class:"card-img-top" %>
              <% end %>
              <div class="card-body">
                  <i class="fa-regular fa-heart"></i>
                  <% if event.user.photo.key.nil?  %>
                  <%=  image_tag "placeholder.png", class:"card-avatar"  %>
                  <% else %>
                  <%=  cl_image_tag event.user.photo.key, class:"card-avatar" %>
                  <% end %>
                <div class="carousel-card-title"><%= event.user.first_name%></div>
                <div class="carousel-card-text"><%= event.level %><br><%= event.date.strftime('%m-%b-%Y (%a)') %></div>
                <div>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      </div>
      <% end %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
