<h1>index</h1>
  <div>
  <%= form_tag(events_path, method: :get) do %>

   <div class='form-element'>
      <%= label_tag('Sport') %>
      <%= select_tag(:sport, options_for_select([ ['Tennis', 'Tennis' ], ['Football', 'Football'], ['Yoga', 'Yoga'],['Soccer', 'Soccer'], ['Badminton', 'Badminton'], ['Running', 'Running']])) %>
    </div>

    <div class='form-element'>
      <%= label_tag('Level') %>
      <%= select_tag(:level, options_for_select([ ['Beginner', 'Beginner'], ['Intermediate', 'Intermediate'], ['Advanced', 'Advanced']])) %>
    </div>

     <div class='form-element'>
      <%= label_tag('Date') %>
      <%= text_field_tag :date,
      params[:date] %>
    </div>

    <div class=''>
      <%= submit_tag('Search', id:"submit-form", class: "btn btn-primary")  %>
    </div>
    <% end %>


<% @events.each do |event| %>
      <div>
        <h4><strong>Sport: </strong><%= event.sport %> </h4>
        <p><strong>Level: </strong><%= event.level %> </p>
        <p><strong>Date: </strong><%= event.date %> </p>
      </div>

<% end %>
</div>
<div class="row row--no-padding">
  <div class="col-3 col-md-6 col--padding">

  <div id="map"
    style="width: 100%; height: 900px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
