
<div>
    <%= form_tag(events_path, method: :get) do %>
    <div class="d-flex filter_search">

    <div class='form-element form'>
        <%= label_tag('Sport:') %>
        <%= select_tag(:sport, options_for_select([['', '' ],['Tennis', 'Tennis' ], ['Football', 'Football'], ['Yoga', 'Yoga'],['Soccer', 'Soccer'], ['Badminton', 'Badminton'], ['Running', 'Running']])) %>
      </div>

      <div class='form-element form'>
        <%= label_tag('Level:') %>
        <%= select_tag(:level, options_for_select([ ['', '' ],['Beginner', 'Beginner'], ['Intermediate', 'Intermediate'], ['Advanced', 'Advanced']])) %>
      </div>

      <div class='form-element form'>
        <%= label_tag('From:') %>
        <%= text_field_tag :start_date,
        params[:start_date], value: params[:start_date] ,id: 'range_start', class: 'datepickr string input'%>
      </div>

      <div class='form-element form'>
        <%= label_tag('To:') %>
        <%= text_field_tag :end_date,
        params[:end_date], id: 'range_end'%>
      </div>


      <div class='event-submit-button'>
        <%= submit_tag('Search', id:"submit-form", class: "btn btn-ghost")  %>
      </div>
      </div>
    <% end %>
</div>

<div class="d-flex">
  <div style="width: 50%;">
    <% @events.each do |event| %>

      <div class= "card-product">
          <%= image_tag "#{event.sport}.jpg", alt: "#{event.sport}" %>
        <div class='txt-style container', data-event-id="<%= event.id %>">
          <h4><strong>Sport: </strong><%= event.sport %> </h4>
          <p><strong>Level: </strong><%= event.level %> </p>
          <p><strong>Date: </strong><%= event.date %> </p>
          <p><strong>Address: </strong><%= event.address %> </p>
          <p><strong>Duration: </strong><%= event.duration %> </p>
          </div>
          <span class="player-name"><p><strong>Hosted by <%=event.user.first_name%></strong></span>
          <div id='btn-event'>
           <%= link_to "Show", event_path(event), class: 'btn btn-primary' %>
         </div>
      </div>
    <% end %>
</div>


  <div id="map"
    style="width: 50%; height: 900px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
