<div class="container">
  <h1 class='page-title'>show page</h1>
  <div class="section-container">
    <div class = 'profile-container'>
        <div>
          <%= image_tag "placeholder.png", class:"profile-avatar" %>
        </div>
      <p style="color:blue;">Name: <%= @event.user.first_name %> <%= @event.user.last_name.upcase %></p>
      <p style="color:blue;">About Me: <br><%= @event.user.bio %></p>
      <%= link_to "Message", class:'btn btn-primary'%>
    </div>

    <div class= 'event-container' style="color:green;">
      <h2>Event Section</h2>
      <%= @event.sport %>
      <%= @event.date %>
      <%= @event.duration %>
      <%= @event.level %>
      <%= simple_form_for [@event,@booking] do |f| %>
        <% if current_user != @event.user  %>
          <%= f.button :submit, "Book Now", class:'btn btn-primary' %>
        <% end %>
      <% end %>
     <div>
      <h2>Other events hosted by the <%= @event.user.first_name %></h2>
    </div>
  </div>
</div>

<div class="btn-container">
  <%= link_to 'Back', events_path, class: "btn btn-primary" %>
</div>

  <div class="carousel-container">
    <% emojis = ["&#128521","	&#128579","&#128587","&#128131","&#128170"] %>
    <% emoji = emojis.sample.to_s %>
    <p>Check out <%= @event.sport %> events by other Sportify users &#128521&#128071</p>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="Badminton.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="Running.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="Tennis.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
