<div class="container">
  <div class="section-container">
    <div class = 'profile-container'>
        <div class="profile-photo">
          <% if @event.user.photo.key.nil?  %>
            <%=  image_tag "placeholder.png", class:"profile-avatar"  %>
            <% else  %>
            <%=  cl_image_tag @event.user.photo.key, class:"profile-avatar"  %>
          <% end %>
        </div>


      <div class="profile-text">
        <div class="text-center"><p><strong><%= @event.user.first_name %> <%= @event.user.last_name.upcase %></strong></p></div>
        <p>About Me: <br><%= @event.user.bio %></p>
        <% if current_user != @event.user %>
        <% chatroom_check = Chatroom.where(sender: @event.user, recepient: current_user).or(Chatroom.where(sender: current_user, recepient: @event.user)) %>
        <% if chatroom_check.empty?%>
          <%= link_to "Message", chatrooms_path(chatroom: {recepient_id: @event.user.id}), method: :post, class:'btn btn-primary'%>
        <% else %>

          <%= link_to "Message", chatroom_path(chatroom_check.first), class:'btn btn-primary'%>
        <% end %>
      <% end %>
      </div>
    </div>

    <div class= 'event-container'>

      <div class="event-top">
        <h3><%= @event.event_name %><h3>
        <div class="text-large"><%= @event.sport %></div>
        <i class="fa-regular fa-heart"></i>
        <div class="text-medium"><i class="fa-regular fa-calendar"></i> <%= @event.date %></div>
        <div class="text-medium"><%= @event.duration %> <%= @event.level %></div>
        <div><%= simple_form_for [@event,@booking] do |f| %>
          <% if current_user != @event.user  %>
            <%= f.button :submit, "Book Now", class:'btn btn-primary' %>
          <% end %>
        <% end %>
        </div >
      </div>


      <% if @event.user.events.count > 1 %>
        <div class="event-bottom">
          <p>More offer by <%= @event.user.first_name %></p>
          <% @event.user.events.each do |event|%>
          <div class= "offer-list"><%= event.sport %></div>
          <% end  %>
        </div>
        <% end %>
      </div>
    </div>
     <div class="btn-container">
    <%= link_to 'Back', events_path, class: "btn btn-primary" %>
    </div>
    <%= render 'carousel' %>

</div>
